*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 0.9;
    background-color: #000;
}
body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    width: 1300px;

    
}

.container{
    width: 90%;
    margin:0 auto;
    
}


/* navbar styling */
nav{
    position: fixed;
    height: 69px;
    background-color: #000;
    border-bottom: 1px solid #fff5ee;
    width: 100%;
    z-index: 99;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar-wrapper #logo{
    margin-left: 10px;
}
.navbar-wrapper #logo img{
    height: 50px;
}


.navbar-wrapper #nav-menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-right: 10px;
}
.navbar-wrapper #nav-menu .nav-link{
    padding: 0 15px;
}

#nav-menu a{
    color: seashell;
    text-decoration: underline;
}


/* Misson section styling  */
.mission-background-img{
    background: url("../images/img-mission-background.jpg") center no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
    margin:0 auto;
    position: relative;
    top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission{
    background-color: #000;
    position: absolute;
    width: 1200px;
    text-align: center;
    text-transform: capitalize;
    line-height: 2.3em;
    
}

/* feature tea section styling  */

.feature-tea{
    width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.heading{
    line-height: 2em;
}

.tea-details{
    width: 100%;
    margin-top: 25px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
}

.tea{
    padding: 10px;
}

.tea figure > img{
    width: 300px ;
    height: 200px ;
    padding-bottom: 10px;
}
.tea figure > figcaption{
    font-weight: bold;
    font-size: 20px;
}

/* Location Section styling */
.location-section{
    margin-top: 50px;
}
.location-background-img{
    background: url("../images/img-locations-background.jpg") center no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
.locations{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;

}
.location-heading{
    text-align: center;
    background: transparent;
    margin-bottom: 25px;
}
.location-heading h2{
    background: inherit;
}
.addresses{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.address{
    background-color: #000;
    opacity: 1;
    width: 300px;
    margin: 10px 40px 0;
    padding: 30px;
    height: 250px;
    line-height: 2.3em;
    text-align: center;
    text-transform: capitalize;
}
.address h4{
    font-size: 18px;
}

/* footer section */

.about{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    line-height: 2.2em;
    text-align: center;
}

.copyright-info{
    padding-bottom: 25px;
}